<div class="container">
  <div class="row mt-5">
    <h2 class="featured" style="width:100%">Featured<h2>
    <div class="featured-group">
      <div class="row">
        <div class="col-md-3">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <h2 class="recommend" style="width:100%">Recommended for you<h2>
    <div class="recommend-group">
      <div class="row">
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <h2 class="recommend" style="width:100%">Verified Artists<h2>
    <div class="recommend-group">
      <div class="row">
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <h2 class="recommend" style="width:100%">Online Radio<h2>
    <div class="recommend-group">
      <div class="row">
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
        <div class="col-md-2">
          <div class="card" style="width: 100%">
            <img class="card-img img-thumbnail" src="https://i1.sndcdn.com/artworks-000265348970-gyrqq7-t500x500.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
