#error_explanation {
    color: red;
ul {
color: red;
margin: 0 0 30px 0;
}
}
.field_with_errors {
    .form-control {
    color: red;
    }
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray-lighter;
   }
}